@media print {
  @page {
    size: A5;
    /* bleed: 6mm; */
    /* marks: crop; */

    @bottom-center {
      content: counter(page);
    }
  }

  @page:left {
    margin: 30mm 30mm 30mm 20mm;
  }

  @page:right {
    margin: 30mm 20mm 30mm 30mm;
  }
}

body {
  font-size: 14px;
  line-height: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h1 {
  text-align: center;
}

img {
  max-width: 100%;
}
