@media print {
  @page {
    size: A5;
    /* bleed: 6mm; */
    /* marks: crop; */

    @bottom-center {
      content: counter(page);
    }
  }
}

@font-face {
  font-family: 'EB Garamond';
  src: url("./fonts/eb-garamond/static/EBGaramond-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 16px;
  line-height: 20px;
  font-family: 'EB Garamond', serif;
}

h1 {
  font-family: 'VG5000';
  text-align: center;
}

img {
  max-width: 100%;
}
